@model TheGeekStore.Core.Models.ProductModel

<div class="row">
    <div class="col-md-2">
        <span>Name:</span>
    </div>
    <div class="col-md-8">
        <span>@Model.Name</span>
    </div>
</div>
<br/>

<h4>Are you sure?</h4>
