@model TheGeekStore.Core.Models.CategoryModel

<div class="row">
    <div class="col-md-2">
        <span>Name:</span>
    </div>
    <div class="col-md-8">
        <span>@Model.Name</span>
    </div>
</div>
<br/>
<hr/>
<span class="text text-danger">WARNING! This will delete all products in this category!</span>
<h4>Are you sure?</h4>
