@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-8">
        <h4>Aarhus</h4>
        <address>
            123 Fake Street<br />
            8000 Aarhus C<br />
            <abbr title="Phone">Phone:</abbr>
            +45 12 34 56 78
        </address>
        <address>
            <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/Site/Logo.png" />
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-8">
        <h4>Odense</h4>
        <address>
            123 Fake Street<br />
            5100 Odense C<br />
            <abbr title="Phone">Phone:</abbr>
            +45 12 34 56 78
        </address>
        <address>
            <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/Site/Logo.png" />
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-8">
        <h4>København</h4>
        <address>
            123 Fake Street<br />
            1631 Herman Triers Plads<br />
            <abbr title="Phone">Phone:</abbr>
            +45 12 34 56 78
        </address>
        <address>
            <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/Site/Logo.png" />
    </div>
</div>