body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/* Footer text */
.footer-text {
    color: whitesmoke;
    text-align: center;
    padding-top: 5px;
}

.category-description-col {
    max-width: 150px;
}

.news-item-time {
    font-size: 12px;
}

.no-items-found {
    color: gray;
    font-weight: bold;
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
}

.text-paymentamount {
    font-size: 20px;
}

.cc-faded {
    opacity: 0.2;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.cc-shown {
    opacity: 1;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.top-search {
    width: 400px;
}

.top-search-input {
    min-width: 370px;
}