
@{
    ViewBag.Title = "Admin Dashboard";
}

<h2>Administration</h2>
<hr />

<!--menu-->
<ul class="nav nav-tabs">
    <li id="Overview" role="presentation" class="admin-menu"><a data-toggle="tab" onclick="changeView('Overview');" href="#overview">Overview</a></li>
    <li id="Categories" role="presentation" class="admin-menu"><a data-toggle="tab" onclick="changeView('Categories');" href="#categories">Categories</a></li>
    <li id="Products" role="presentation" class="admin-menu"><a data-toggle="tab" onclick="changeView('Products');" href="#products">Products</a></li>
    <li id="Orders" role="presentation" class="admin-menu"><a data-toggle="tab" onclick="changeView('Orders');" href="#orders">Orders</a></li>
    <li id="Customers" role="presentation" class="admin-menu"><a data-toggle="tab" onclick="changeView('Customers');" href="#customers">Customers</a></li>
    <li id="Admins" role="presentation" class="admin-menu"><a data-toggle="tab" onclick="changeView('Admins');" href="#admins">Admins</a></li>
</ul>

<div id="content"></div>


@if (Session["adminpage"] != null)
{
    <script>
        changeView('@Session["adminpage"]', true);
    </script>
}
else
{
    <script>
        changeView('Overview', true);
    </script>
}

@Html.Partial("_PartialModalDetails")